{% extends "base.html" %}

{% block title %}{{ block.super }} | Edit Resume{% endblock title %}

{% block content %}
<main class="container">

    <form method="post" enctype='multipart/form-data'>
        {{ form.as_p }}

        <div id="social-forms">
            {% for social_form in social_form_set %}
            <div id="form-{{ forloop.counter }}">
                <div style="color: red" onclick="handleDelete('form-{{ forloop.counter }}')">delete</div>
                <label for="id_url">{{ social_form.url.label }}: </label>
                {{ social_form.url }}
            </div>
            {% endfor %}

            <div onclick="addSocialForm()">add row</div>

        </div>

        {% csrf_token %}
        <input type="submit" />
    </form>

</main>

<script>
    function handleDelete(formId) {
        const element = document.getElementById(formId);
        element.remove();
    }

    function addSocialForm() {
        temp = document.createElement('div');
        temp.innerHTML = `
        <div id="form-{{ forloop.counter }}">
            <div style="color: red" onclick="handleDelete('form-{{ forloop.counter }}')">delete</div>
            <label for="id_url">Url: </label>
            <input type="url" name="url" value="" maxlength="200" id="id_url">
        </div>
        `
        document.getElementById("social-forms").appendChild(temp)
    }
</script>

{% endblock content %}